.backdrop {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 100;
}
.modal {
  position: relative;
  isolation: isolate;
  overflow: hidden;

  border-radius: 1rem;

  width: min(96vw, 1040px);
  height: min(88svh, 585px);
  min-width: 280px;

  aspect-ratio: 16 / 9;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;

  container-type: inline-size;

  padding: clamp(1.25rem, 3cqi, 2.5rem) clamp(1.5rem, 3cqi, 2.5rem)
    clamp(1.25rem, 3cqi, 2rem);

  gap: 1rem;
}
.modal h2 {
  position: relative;
  top: auto;

  margin: 0;

  font-size: clamp(2rem, 5cqi, 3.5rem);
  line-height: 0.95;
  z-index: 2;

  pointer-events: none;
}

/* BACKGROUND IMAGE */
.bg {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  object-fit: contain;
  object-position: center;

  z-index: -1;
  border-radius: inherit;

  pointer-events: none;
  user-select: none;
}
/* CONTENT ABOVE IMAGE */
.modal > *:not(.bg) {
  position: relative;
  z-index: 1;
}

.modal p {
  color: white;

  font-size: 4cqi;

  margin: 0;

  text-shadow:
    0px 1px 0 #000,
    0px 2px 0 #000,
    0px 2px 6px rgba(0, 0, 0, 1);
}

.modal button {
  font-size: clamp(0.65rem, 0.9vw, 0.85rem);
  padding: clamp(0.3rem, 0.5vw, 0.45rem) clamp(0.8rem, 1.2vw, 1.15rem);
}

@media (max-width: 900px) and (min-width: 481px) {
  .modal {
    width: min(92vw, 620px);
    height: min(90svh, 720px);
    width: max(200px);
    aspect-ratio: 9 / 16;

    padding: 4rem 2rem 2rem;
  }

  .bg {
    content: url("/Modal_BG_Vertical.webp");
    object-fit: contain;
  }

  .modal button {
    font-size: clamp(0.75rem, 1.8vw, 1rem);
    padding: 0.35rem 0.9rem;
  }
}

/* MOBILE */
@media (max-width: 480px), (max-height: 400px) {
  .modal {
    /* width: min(calc(100vw - 24px), 420px); */
    height: min(94svh, 680px);

    aspect-ratio: 9 / 16;
    padding: 4rem 2rem 2rem;
  }

  .bg {
    content: url("/Modal_BG_Vertical.webp");
    object-fit: contain;
  }

  .modal h2 {
    position: absolute;
    top: clamp(0.7rem, 3.5svh, 1.5rem);

    font-size: clamp(2.4rem, 10vw, 3.7rem);
    line-height: 0.9;
  }

  .modal button {
    font-size: clamp(0.7rem, 3.2vw, 0.95rem);
    padding: 0.35rem 0.9rem;
  }
}
